/*
 * Variables
 */
// Theme color
$theme-color-ume:   #9E7A7A;
$theme-color-black: #414141;
$theme-color-gray:  #fcfcfc;
$theme-color-green: #789B9B;
$theme-color-rokusyoh: #24936E;

// With opacity
$theme-color-ume__05: rgba(158, 122, 122, .05);
$theme-color-ume__10: rgba(158, 122, 122, .10);
$theme-color-ume__30: rgba(158, 122, 122, .30);
$theme-color-ume__40: rgba(158, 122, 122, .40);
$theme-color-ume__50: rgba(158, 122, 122, .50);
$theme-color-ume__80: rgba(158, 122, 122, .80);