/*
 * Global style
 */
* {
    padding: 0;
    margin: 0;
}

body {
    position: absolute;
    width: 100vw; height: 100vh;
    left: 0; top: 0;
    display: block;
    color: $theme-color-black;
    background-color: $theme-color-gray;
    font-family: "Lora", "Open Sans", "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-image: url("../public/images/back_01.jpg");

    @media screen and (max-width: 760px) {
        -webkit-overflow-scrolling: touch;
    }
}

a {
    text-decoration: none;

    &, &:visited, &:hover, &:active {
        color: $theme-color-black;
    }

    cursor: pointer;
}

::selection {
    color: #fff;
    background-color: $theme-color-ume;
}